@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');

body{
    background-image:url(../img/bg_pizza.jpg) ;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    height: 100vh !important;
}

.navbar{
    background-color: #81150b !important;
}

.navbar a{
    color: white !important;
}

h1{
    font-size: 7em;
    font-variant: small-caps;
    text-align: center;
}

h2{
   font-size: 3em; 
}

h1,h2{
    font-family: 'Cabin Sketch', cursive; 
    color: #5d6a09;
}

@media only screen and (max-width: 768px) {
h1{
    font-size: 50px;
}
  }

  #napoly{
    list-style-image: url(../img/pizza_icon.png);
    line-height: 30px;
  }

  .kijelolt{
    color: #414a04;
    font-weight: bold;
    text-transform: uppercase;
  }

  p.p{
    line-height: 2em;
    text-indent: 15px;
  }

  .kiemelt{
    margin: auto;
    border: #5d6a09 double;
    background-color: #ffeccb;
  }

  .image{
    box-shadow: #5d6a09 2px 2px 5px;
  }

  figcaption{
    font-style: italic;
    text-align: center;
  }

  #wiki{
    color:white;
    font-variant: small-caps;
    letter-spacing: 2px;
    text-decoration: none;
    padding: 5px;
  }

  #wiki:hover{
    background-color: black;
  }

  .footer{
    background-color: #81150b;
  }

  .container{
    background-color: rgba(255, 255, 255, 0.6);
  }

  .text-white{
    color:white;
  }

  .container{
    height: 80vh !important;
  }

  .button{
    width: 100%;
  }